TWBuildingAssistant/Buildings/twa_mpack_buildings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="building_library">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="building_category">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element maxOccurs="unbounded" name="branch">
									<xs:complexType>
										<xs:sequence>
											<xs:element maxOccurs="unbounded" name="level">
												<xs:complexType mixed="true">
													<xs:sequence minOccurs="0">
														<xs:choice maxOccurs="unbounded">
															<xs:element maxOccurs="unbounded" name="multiplier">
																<xs:complexType>
																	<xs:simpleContent>
																		<xs:extension base="xs:string">
																			<xs:attribute name="c" type="xs:string" use="required" />
																		</xs:extension>
																	</xs:simpleContent>
																</xs:complexType>
															</xs:element>
															<xs:element maxOccurs="unbounded" name="bonus">
																<xs:complexType>
																	<xs:simpleContent>
																		<xs:extension base="xs:string">
																			<xs:attribute name="c" type="xs:string" use="required" />
																		</xs:extension>
																	</xs:simpleContent>
																</xs:complexType>
															</xs:element>
														</xs:choice>
													</xs:sequence>
													<xs:attribute name="n" type="xs:string" use="required" />
													<xs:attribute name="l" type="xs:unsignedByte" use="required" />
													<xs:attribute name="t" type="xs:unsignedByte" use="required" />
													<xs:attribute name="f" type="xs:short" use="optional" />
													<xs:attribute name="fpf" type="xs:short" use="optional" />
													<xs:attribute name="po" type="xs:byte" use="optional" />
													<xs:attribute name="rs" type="xs:byte" use="optional" />
													<xs:attribute name="g" type="xs:unsignedByte" use="optional" />
													<xs:attribute name="rr" type="xs:unsignedByte" use="optional" />
													<xs:attribute name="il" type="xs:boolean" use="optional" />
													<xs:attribute name="ps" type="xs:unsignedByte" use="optional" />
													<xs:attribute name="i" type="xs:unsignedByte" use="optional" />
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="n" type="xs:string" use="required" />
									</xs:complexType>
								</xs:element>
								<xs:element name="religious_branch">
									<xs:complexType>
										<xs:sequence>
											<xs:element maxOccurs="unbounded" name="level">
												<xs:complexType mixed="true">
													<xs:sequence minOccurs="0">
														<xs:element minOccurs="0" name="bonus">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:unsignedShort">
																		<xs:attribute name="c" type="xs:string" use="required" />
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
														<xs:element minOccurs="0" maxOccurs="unbounded" name="multiplier">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="c" type="xs:string" use="required" />
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="n" type="xs:string" use="required" />
													<xs:attribute name="l" type="xs:unsignedByte" use="required" />
													<xs:attribute name="t" type="xs:unsignedByte" use="required" />
													<xs:attribute name="po" type="xs:byte" use="optional" />
													<xs:attribute name="rs" type="xs:byte" use="optional" />
													<xs:attribute name="ri" type="xs:unsignedByte" use="optional" />
													<xs:attribute name="f" type="xs:byte" use="optional" />
													<xs:attribute name="il" type="xs:boolean" use="optional" />
													<xs:attribute name="ro" type="xs:unsignedByte" use="optional" />
													<xs:attribute name="g" type="xs:unsignedByte" use="optional" />
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="n" type="xs:string" use="required" />
										<xs:attribute name="r" type="xs:string" use="required" />
										<xs:attribute name="ire" type="xs:boolean" use="required" />
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="n" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>