TWBuildingAssistant/Religion/twa_religions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="religions">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="religion">
					<xs:complexType mixed="true">
						<xs:sequence minOccurs="0">
							<xs:element name="multiplier">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="c" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="n" type="xs:string" use="required" />
						<xs:attribute name="ro" type="xs:unsignedByte" use="optional" />
						<xs:attribute name="rr" type="xs:unsignedByte" use="optional" />
						<xs:attribute name="ri" type="xs:unsignedByte" use="optional" />
						<xs:attribute name="s" type="xs:unsignedByte" use="optional" />
						<xs:attribute name="po" type="xs:unsignedByte" use="optional" />
						<xs:attribute name="g" type="xs:unsignedByte" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>