TWBuildingAssistant/Map/twa_map.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="map">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="province">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="traditions">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="tradition">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:unsignedByte">
														<xs:attribute name="r" type="xs:string" use="required" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" name="region">
								<xs:complexType>
									<xs:attribute name="n" type="xs:string" use="required" />
									<xs:attribute name="ic" type="xs:boolean" use="required" />
									<xs:attribute name="r" type="xs:string" use="optional" />
									<xs:attribute name="o" type="xs:byte" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="n" type="xs:string" use="required" />
						<xs:attribute name="f" type="xs:unsignedByte" use="required" />
						<xs:attribute name="c" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>