TWBuildingAssistant/ClimateManager/twa_climates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="climates">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="climate">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="for_weather">
								<xs:complexType>
									<xs:attribute name="po" type="xs:byte" use="required" />
									<xs:attribute name="f" type="xs:byte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="n" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>